.env
.env.*
!.env.example
!**/.env.example
application-local.yml
application-local.properties
node_modules/
build/
dist/
.idea/
.DS_Store

# Media files
*.mp4
*.MP4
*.mp3
*.MP3

# Unity generated folders
[Ll]ibrary/
[Bb]uild/
[Bb]uilds/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.package-log

# macOS
.DS_Store