.env
.env.*
application-local.yml
application-local.properties
node_modules/
build/
dist/
.idea/
.DS_Store
# Unity generated folders
[Ll]ibrary/
[Bb]uild/
[Bb]uilds/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# macOS
.DS_Store
